.bodyCont{
    display: flex;
    justify-content: center;
    background-color: #eef5ff;
    box-sizing: border-box;
    width: 100%;    
}

.container{
    max-width: 750px; 
    width: 100%;
    background-color: white;
}
textarea{
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    background-color: #111827;
    color:#4ade80;
    padding:10px;
    margin: 10px 0;
    border: 1px solid #e5e7eb;
    height: 400px;
    font-size: 15px;
    max-width:900px
}
.uploadArea{
    background-color: #eef2ff;
    border: 2px dashed #a5b4fc;
    border-radius: 10px;
    padding: 10px;
    margin: 30px 0;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.options{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

select{
    padding: 10px;
    background-color: #eef2ff;
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid #a5b4fc;
    margin-left: 20px;
    cursor: pointer;
}
.resHeader{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin-top: 25px;
}
.inputLink{
    border: 1px solid #a5b4fc;
    padding: 10px;
    border-radius: 5px;
}

.rules{
    background-color: #eff6ff;
    border:1px solid #bfdbfe;
    border-radius: 10px;
    margin:20px 0;
    padding:10px 30px;
    color:#1e40af;
 
}

p{
    color:#4b5565
}

ul li{
    padding:7px 0;
    font-size: 15px;
}

.wordContent{
    box-sizing: border-box;
    background-color: #f9fafb;
    color:black;
    height: 200px;
}

.btnCopy{
    background-color: #16a34a;
    color:white;
    padding: 10px 15px;
    border-radius: 5px;
    border:none;
    font-size: 14px; 
    font-weight: 600;
    cursor: pointer;
}