.editHeader{
    box-sizing: border-box;
    margin:30px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #ccc;
    padding:15px  25px;
}
.editBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.btn-green{
    color:white;
    padding:8px 10px;
    font-size:15px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    background-color: #16a34a;
}
.btn-green:hover{
    background-color: #117335;
}
.btn-grau{
    background-color: #6b7280;
}

.btn-grau:hover{
    background-color: #52565d;
}

.textArea{
    background-color: #ffffff;
    margin:10px 0 ;
    border:2px solid #e8eaed;
    border-radius: 5px;
    color:black
}
