.app{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #edf4fe;
  box-sizing: border-box;

}

.body{
  max-width: 750px;
  width: 100%;
  margin: 40px 0;
  background-color: white;
  box-sizing: border-box;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

.nav{
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid #e0e4e9;
  padding:0; 
  list-style: none;
  padding-bottom: 20px;
  & li a{
      text-decoration: none;
  }
}

.btn{
    color:white;
    width: 100%;
    padding:10px;
    font-size:15px;
    font-weight: 600;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    background-color: #4f46e5;
}

.btnEdit{
    background-color: #f3f4f6;
    color:#374166;
    font-weight: normal;
}